%h1 Hollerback Video Messaging Android Beta
%h3.tagline
  If you’re here someone’s shared Hollerback with you or
  you’ve received a message on Hollerback. Hollerback lets you
  have face to face conversations with friends and family through
  short video messages. We’d love for you to help us make a great app!

%p Installing the beta:
%ol
  %li
    %a{href: "https://plus.google.com/communities/118224103900737437624"} Join our google plus community
  %li
    %a{href: ""} Opt in to the beta
  %li
    Install Hollerback and join the fun!

%p Post on our community if you need help installing, run into a bug, or have feature suggestions! We’d love to hear from you.

%p Thanks!

%p
  Sajjad, Will, Joe
  %br
  Team Android
