%h1 App Links
%table.table.table-bordered
  %thead
    %tr
      %td Name
      %td Segment
      %td Downloads
  %tbody
    - @app_links.each do |link|
      %tr
        %td= link.slug
        %td= link.segment
        %td= link.downloads_count
