:markdown
  PRIVACY POLICY

  Last Updated: October 2, 2013

  This Privacy Policy explains how information about you is collected,
  used and disclosed by moziy, inc. (dba Hollerback) and our Affiliates,
  if we have any in the future, (collectively, "Hollerback") when you use
  our websites, mobile applications and other online products and services
  (collectively, the "Services") or when you otherwise interact with us.

  We may change this Privacy Policy from time to time. If we make any
  substantial changes in the way we use your information, we will notify
  you by sending you an e-mail to the last e-mail address you provided to
  us and/or by prominently posting notice of the changes on our website. 
  Any material changes to this Privacy Policy will be effective upon the
  earlier of thirty (30) calendar days following our dispatch of an e-mail
  notice to you or thirty (30) calendar days following our posting of
  notice of the changes on our site.  These changes will be effective
  immediately for new users of our website or services.  Please note that
  at all times you are responsible for updating your information to
  provide us with your most current e-mail address. In any event, changes
  to this Privacy Policy may affect our use of information that you
  provided us prior to our notification to you of the changes.  If you do
  not wish to permit changes in our use of your information, you must
  notify us prior to the effective date of the changes that you wish to
  deactivate your account with us.  Continued use of our website, or
  services, following notice of such changes shall indicate your
  acknowledgement of such changes and agreement to be bound by the terms
  and conditions of such changes.


  **Collection of Information**

  **Information You Provide to Us**

  We collect information you provide directly to us. For example, we
  collect information when you create an account, use the Services to send
  or receive a video, photo, or text message (a "Holler"), request
  customer support or otherwise communicate with us. The types of
  information we may collect include your username, name, password, email
  address, gender, phone number, age and any other information you choose
  to provide.

  When you send or receive Hollers, we also collect, process and store the
  contents of the Hollers (such as photos, videos and/or captions) on our
  servers. The contents of Hollers may also be stored on the devices of
  recipients, devices of anyone who may be forwarded a Holler, or on your
  device. 

  Hollerback will upload the address book on your device to our servers
  where we store this data to sync your contacts and find which of your
  friends are already Hollerback users.


  **Information We Collect Automatically When You Use the Services**

  When you access or use our Services, we automatically collect
  information about you, including:


  **Usage Information: **

  When you send or receive Hollers, we collect information about these
  messages, including the time, date, sender and recipient of the Holler.
  We also collect information about the number of Hollers sent and
  received between you and your friends and which friends you exchange
  Hollers with most frequently.  We also collect information about your
  usage of the application including interactions with videos. For
  example, when you open a message or record a video, we detect those
  interactions. You agree that we can share the fact that you took these
  actions with the sender of the message.


  **Log Information: **

  We log information about your use of our websites, including your
  browser type and language, access times, pages viewed, your IP address
  and the website you visited before navigating to our websites.


  **Device Information: **

  We may collect information about the computer or device you use to
  access our Services, including the hardware model, operating system and
  version, MAC address, unique device identifier, phone number,
  International Mobile Equipment Identity ("IMEI") and mobile network
  information. In addition, the Services may access your device's native
  phonebook and image and video storage applications, with your consent,
  to facilitate your use of certain features of the Services. We may also
  collect precise location information in order to enhance your use of the
  Services. For more information about how you can control our access to
  these applications, please see "Your Choices" below.


  **Information Collected by Cookies and Other Tracking Technologies:**

  We use various technologies to collect information, and this may include
  sending cookies to you. Cookies are small data files stored on your hard
  drive or in device memory that help us to improve our Services and your
  experience, see which areas and features of our Services are popular and
  count visits. We may also collect information using web beacons (also
  known as "tracking pixels"). For more information about cookies, and how
  to disable them, please see "Your Choices" below. Most web browsers are
  set to accept cookies by default. If you prefer, you can usually choose
  to set your browser to remove or reject browser cookies. Please note
  that if you choose to remove or reject cookies, this could affect the
  availability and functionality of our website and your use of the
  Services.


  **Information We Collect From Other Sources**

  We may also obtain information from other sources and combine that with
  information we collect through our Services.


  **Use of Information**

  We may use information about you for various purposes, including to:

  Provide, maintain and improve our Services; Provide and deliver the
  products and services you request, process transactions and send you
  related information;

  Respond to your comments, questions and requests and provide customer
  service;

  Send you technical notices, updates, security alerts and support and
  administrative messages; Communicate with you about products, services,
  offers, promotions, rewards, and events offered by Hollerback and
  others, and provide news and information we think will be of interest to
  you; Monitor and analyze trends, usage and activities in connection with
  our Services; Personalize and improve the Services and provide
  advertisements, content or features that match user profiles or
  interests; Link or combine with information we get from others to help
  understand your needs and provide you with better service; Detect,
  investigate and/or prevent fraudulent, unauthorized or illegal activity;
  and Carry out any other purpose for which the information was collected.

  Hollerback is based in the United States and the information we collect
  is governed by U.S. law. By accessing or using the Services or otherwise
  providing information to us, you consent to the processing and transfer
  of information in and to the U.S. and other countries.


  **Sharing of Information**

  **We may share information about you as follows or as otherwise
  described in this Privacy Policy:**

  With other users when you send them Hollers, including your username and
  the contents of the Holler you send them. We also share your username
  with other users when they use our "Add Friends" feature to add you to
  their friend lists;

  With vendors, consultants and other service providers who need access to
  such information to carry out work on our behalf; In response to legal
  process or a request for information if we believe disclosure is in
  accordance with any applicable law, rule, or regulation, or as otherwise
  required by any applicable law, rule or regulation; In order to
  investigate or remedy potential violations of our user agreements or
  policies, or to protect the rights, property and safety of Hollerback,
  our users or others; In connection with, or during negotiations of, any
  merger, sale of company assets, financing or acquisition of all or a
  portion of our business to another company; and With your consent or at
  your direction. We may also freely use and share aggregated or
  de-identified information, which cannot reasonably be used to identify
  you; 

  Although we currently do not have a parent company, any subsidiaries,
  joint ventures, or other companies under a common control (collectively,
  “Affiliates”), we may in the future.  We may share some or all of your
  information with these Affiliates, in which case we will require our
  Affiliates to honor this Privacy Policy.  If another company acquires
  our company or our assets, that company will possess the information
  collected by it and us and will assume the rights and obligations
  regarding your information as described in this Privacy Policy.


  With our third party analytics service providers.


  **Analytics Services Provided by Others**

  We may allow others to provide analytics services on our behalf. These
  entities may use cookies, web beacons and other technologies to collect
  information about your use of the Services and other websites, including
  your IP address, web browser, pages viewed, time spent on pages, links
  clicked and conversion information. This information may be used to,
  among other things, analyze and track data, determine the popularity of
  certain content and better understand your online activity.



  **Security**

  We take reasonable measures to help protect information about you from
  loss, theft, misuse and unauthorized access, disclosure, alteration and
  destruction.

  Children

  We do not knowingly collect personal information from users under the
  age of thirteen.


  **Your Choices**

  **Privacy Settings**

  Through settings in the Hollerback mobile application, you can choose
  whether to accept Hollers only from users you have added to your friends
  list, or from any other Holler user who determines your username. If you
  choose to receive Hollers only from your friends, and a user who is not
  on your friends list attempts to send you a Holler or add you as a
  friend, you will receive a notification and have the option of adding
  the user to your friends list.

  You also have the ability to delete users from your friends list or to
  block specific users at any time by using controls within the Hollerback
  mobile application.


  **Account Information**

  You may update or correct information about yourself by launching the
  Hollerback mobile application and editing your account settings. If you
  wish to delete your account, please email support@hollerback.co, but
  note that we may retain certain information as required by law, for
  legitimate business purposes, or as part of our regular retention
  practices. We may also retain cached or archived copies of information
  about you for a certain period of time.


  **Device Information**

  Certain features of the Services require access to your device's native
  phonebook and image or video storage applications (e.g., to find friends
  or to store a Holler in your photo gallery). The phone numbers in your
  device's native phonebook will be transmitted to Hollerback. On Android
  devices you grant Hollerback permission to access these features as part
  of the installation process. If you later decide to revoke this
  permission, you can do so by following the standard uninstall process
  and removing the Hollerback mobile application from your device.
  Alternatively, on iOS devices, you can grant or revoke your consent at
  any time and prevent us from continuing to access your phonebook and
  image storage applications by changing the settings on your device.


  Most web browsers are set to accept cookies by default. If you prefer,
  you can usually choose to set your browser to remove or reject browser
  cookies. Please note that if you choose to remove or reject cookies,
  this could affect the availability and functionality of our website.


  **Dispute Resolution.  **

  If you believe that we have not adhered to this statement, please
  contact us by e-mail at support@hollerback.co.  We will do our best to
  address your concerns.  If you feel that your complaint has been
  addressed incompletely, we invite you to let us know for further
  investigation.  If we are unable to reach a resolution to the dispute,
  you and we will settle the dispute exclusively under the rules of the
  American Arbitration Association (www.adr.org).


  **Push Notifications/Alerts**

  Hollerback may send push notifications or alerts to your device. You can
  deactivate these messages at any time by changing the notification
  settings on your device (iOS) or by changing your settings within the
  Hollerback mobile application (Android).

  Contact

  To contact us, please email support@hollerback.co or write to:

  Hollerback 
  110 Capp St 
  Suite 200 
  San Francisco, CA 94110
