:markdown
  **Hollerback**

  **Terms of Use**

  These Terms of Use, the website terms of use and Privacy Policy,
  (together the “Terms”) governs your use of the software application
  entitled [Hollerback] (the “App”) that was created by and on behalf of
  moziy, inc. (dba Hollerback) (“Company”).   If you do not agree with or
  are not willing to comply with any portion of these Terms, do not
  download or use the App.  These Terms govern all matters related to your
  installation and use of the App and supersede all other agreements with
  respect to the App. This Agreement may be amended at any time by us from
  time to time without specific notice to you. The latest Agreement will
  be posted at [www.hollerback.co/mobileapp] (the “Site”) and you should
  review the Site periodically. 

  Company provides the App to allow users to [send and receive messages to
  other users].  To use the service, you must download and install the App
  and then register and create an account (“Account”).   To be eligible to
  create an Account and/or to use the App, you must be at least 13 years
  old.  When you set up your account, you will be required to create
  log-in credentials by providing certain types of personal information
  (“Login Credentials”). For more information on the types of personal
  information we will collect in order to create your Login Credentials,
  please review our Privacy Policy at [www.hollerback.co/privacy]. You are
  responsible for maintaining the confidentiality of your Login
  Credentials, and are solely responsible for all activities that occur
  using your Login Credentials.  You agree not to allow a third party to
  use your Login Credentials at any time.  We reserve the right to
  terminate any username and password, which we reasonably determine may
  have been used by an unauthorized third party. 

  The App and all content contained within the App is and shall remain the
  sole property of Company, subject to protection under U.S. and foreign
  copyright laws. Company grants you a personal, revocable, limited,
  non-transferable license to use the App on either (a)  any iPhone, iPad
  or iPod Touch as permitted by the App Store Terms and Conditions, or
  (b)  or any Android-enabled mobile device subject to the Android Market
  Terms of Service and Policies. This license does not allow you to copy,
  disassemble, attempt to derive the source code of, modify, create
  derivative works of, rent, lease, lend, sell, redistribute or sublicense
  the App. 

  You agree that Company is not obligated to create or provide any
  support, corrections, updates, upgrades, bug fixes and/or enhancements
  of the App (each an “Update”).  However, in the event Company decides to
  offer an Update, you agree that Company may amend these Terms in
  connection with such Update without specific notice to you and that your
  installation and use of the Update is conditioned upon your acceptance
  of any revised Terms.  The current version of these Terms will be posted
  at [www.hollerback.co/mobileapp] and you are responsible for reviewing
  the version of the Terms available at the Site before installing an
  Update.  By installing an Update, you are representing that you have
  reviewed the then-current version of the Terms at the Site and agree to
  be bound by such version.  You may not install any Update unless you
  agree to the then-current version of the Terms. 

  All third-party information (including any messages sent by other users
  to you) that you may have access to by using the App (“Third-Party
  Content”) may be protected by intellectual property rights that are
  owned by the individual or entity from which such Third Party Content
  originated.  Company reserves the right (but has no obligation) to
  filter or refuse to transmit any Third-Party Content via the App.  You
  agree, however, that you are solely responsible for the content of all
  communications made by or to you through your use of the App and your
  use of Third-Party Content and you may be exposed to Third-Party Content
  that is offensive, indecent or objectionable or which violates the
  proprietary, intellectual property, or privacy rights of a third party. 
  You agree that your use of the App is at your own risk. 

  The license is effective until terminated by you or Company. Upon
  termination of the license, you shall cease all use of the App, and
  destroy all copies, full or partial, of the App. You agree that Company
  shall be entitled, without bond, other security, proof of damages, to
  appropriate equitable remedies with respect any of this Agreement, in
  addition to any other available remedies. This license does not allow
  you to copy, disassemble, attempt to derive the source code of, modify,
  create derivative works of, rent, lease, lend, sell, redistribute or
  sublicense the App or any Third-Party Content (either in whole or in
  part).

  The App is designed to enable you to store certain information,
  including [messages, photos, videos, and contact lists]. You agree, and
  understand that this functionality is provided to you by the App as a
  convenience only and not as an archive.  Company shall have no liability
  to you or any other person for loss, damage, or destruction to
  information submitted to the App and you are solely responsible for
  preventing any loss or damage to your information and for maintaining
  independent archival and backup copies of your information.  **COMPANY
  ASSUMES NO RESPONSIBILITY FOR THE DELETION OF OR FAILURE TO STORE OR
  DELIVER ANY INFORMATION.**

  YOU ACKNOWLEDGE AND AGREE THAT USE OF THE APP IS AT YOUR SOLE RISK AND
  THAT THE APP AND ANY content or information PROVIDED BY THE APP ARE
  PROVIDED “AS IS” AND “AS AVAILABLE”, WITH ALL FAULTS AND WITHOUT
  WARRANTY OF ANY KIND. Company HEREBY DISCLAIMS ALL WARRANTIES AND
  CONDITIONS WITH RESPECT TO THE APP, EXPRESS, IMPLIED OR STATUTORY. 

  IN NO EVENT SHALL COMPANY BE LIABLE FOR ANY INCIDENTAL, SPECIAL,
  PUNITIVE, EXEMPLARY, DIRECT, INDIRECT OR CONSEQUENTIAL DAMAGES
  WHATSOEVER, ARISING OUT OF OR RELATED TO YOUR USE OR INABILITY TO USE
  THE APP, HOWEVER CAUSED, REGARDLESS OF THE THEORY OF LIABILITY
  (CONTRACT, TORT OR OTHERWISE) AND EVEN IF COMPANY HAS BEEN ADVISED OF
  THE POSSIBILITY OF SUCH DAMAGES. In no event shall COMPANY’s total
  liability exceed the amount of \$50.00. The foregoing limitations will
  apply even if the above stated remedy fails of its essential purpose.

  The laws of the State of California, excluding its conflicts of law
  rules govern this license and your use of the App. The sole and
  exclusive jurisdiction and venue for actions related to the subject
  matter hereof shall be as set forth in the terms of use at
  www.hollerback.co/terms. 

  As between you and Company, you are solely responsible for your use of
  the App and for the content of all communications made by or to you
  through your use of the App, and for all activity with respect to your
  use of the App, including any unauthorized use of the App by any third
  party. You agree to indemnify, defend, release, and hold harmless
  Company, its partners, licensors, affiliates, contractors, officers,
  directors, employees and agents from all damages, losses and expenses
  arising directly or indirectly from (a) any negligent acts, omissions or
  willful misconduct by you, (b) your use of the App, or (c) any breach of
  these Terms by you.

  -   Company and you acknowledge that this Agreement is concluded between
      Company and you only, and not with Apple, Inc., or Google, Inc. 
      Company, not Apple or Google, is solely responsible for Mobile App
      and the content thereof.  To the extent this Agreement provides for
      usage rules for App that are less restrictive than the usage rules
      set forth for App in, or otherwise is in conflict with, the App
      Store Terms of Service, the more restrictive or conflicting Apple
      term applies. If you are using this App on an iPhone, iPad or iPod
      Touch, Company and you acknowledge that these Terms are concluded
      between Company and you only, and not with Apple, Inc.  Company, not
      Apple, is solely responsible for the App and the content thereof. 
      To the extent these Terms provide for usage rules for the App that
      are less restrictive than the Usage Rules set forth in, or otherwise
      is in conflict with, the App Store Terms of Service, the more
      restrictive or conflicting Apple term applies. The license granted
      to you for the App is limited to a non-transferable license to use
      the App on an iOS Product that you own or control and as permitted
      by the Usage Rules set forth in the App Store Terms of Service.
      Company and you acknowledge that Apple has no obligation whatsoever
      to furnish any maintenance and support services with respect to the
      App. Company is solely responsible for any product warranties,
      whether express or implied by law, to the extent not effectively
      disclaimed.  In the event of any failure of the App to conform to
      any applicable warranty, you may notify Apple and Apple will refund
      the purchase price for the App to you; and to the maximum extent
      permitted by applicable law, Apple will not have any other warranty
      obligation whatsoever with respect to the App, and any other claims,
      losses, liabilities, damages, costs or expenses attributable to any
      failure to conform to any warranty will be Company’s sole
      responsibility. Company and you acknowledge that Company, not Apple
      or Google, is responsible for addressing any claims of you or any
      third party relating to the App or your possession and/or use of the
      App, including, but not limited to: (a) product liability claims;
      (b) any claim that App fails to conform to any applicable legal or
      regulatory requirement; and (iii) claims arising under consumer
      protection or similar legislation.  This Agreement does not limit
      Company’s liability to you beyond what is permitted by applicable
      law. Company and you acknowledge that, in the event of any third
      party claim that the App or your possession and use of the App
      infringes that third party’s intellectual property rights, Company,
      not Apple, will be solely responsible for the investigation,
      defense, settlement and discharge of any such intellectual property
      infringement claim.

  -   You represent and warrant that (a) you are not located in a country
      that is subject to a U.S. Government embargo, or that has been
      designated by the U.S. Government as a “terrorist supporting”
      country; and (b) you are not listed on any U.S. Government list of
      prohibited or restricted parties. 

  -   Company’s contact information for any end-user questions, complaints
      or claims with respect to App is support@hollerback.co.

  You hereby agree that if the terms of this Agreement are not
  specifically enforced, Company will be irreparably damaged, and
  therefore you agree that Company shall be entitled, without bond, other
  security, proof of damages, to appropriate equitable remedies with
  respect any of this Agreement, in addition to any other available
  remedies.

  You must comply with applicable third party terms of agreement when
  using the App. Company and you acknowledge and agree that Apple, and
  Apple’s subsidiaries, are third party beneficiaries of these Terms, and
  that, upon your acceptance of the terms and conditions of these Terms,
  Apple will have the right (and will be deemed to have accepted the
  right) to enforce these Terms against you as a third party beneficiary
  thereof.  You shall use the App and any service available via the App
  only in compliance with applicable local, state, federal, and
  international law and all applicable regulations, policies and
  procedures. You agree that you will not use the App to (a) engage in any
  communications that are unlawful, harassing, defamatory, offensive,
  libelous, abusive, threatening, harmful, vulgar, obscene, or otherwise
  objectionable, (b) encourage or engage in any criminal conduct, conduct
  that could give rise to civil liability, or otherwise violate any
  applicable local, state, national or international law or regulation,
  (c) gain or attempt to gain unauthorized access to other computer
  systems, or (d) interfere with any other person’s use and enjoyment of
  the App.


  **Privacy Policy**

  When you register and download the App, you may provide, either to us or
  to Apple or Google, as applicable: (a) your name, email address, age,
  user name, password and other registration information; and (b)
  information you enter into our system when using the App, such as
  contact information or age confirmation information.  Company may not
  have access to any information you have provide to Apple or Google. 

  Company may collect and use technical data and information, including
  but not limited to technical information about your device, system and
  App software, and peripherals, that is gathered periodically to
  facilitate the provision of software updates, product support and other
  services to you (if any) related to the App. Company may use this
  information as long as it is in a form that does not personally identify
  you, to improve its products or to provide services or technologies to
  you.  The App may also collect precise information about the location of
  your mobile device, which Company will use in order to provide you with
  enhanced services.

  With respect to information provided directly to Company via the App,
  you grant Company an irrevocable, perpetual, royalty-free right and
  license to use such information for Company’s business purposes, and to
  share such information with affiliates and related companies of Company
  and to third parties providing services on behalf of Company and to
  third parties selling Company’s products and to transfer such
  information in the event of a sale, merger, dissolution, bankruptcy,
  corporate reformation or other corporate restructuring of Company or as
  required by law, such as to comply with a subpoena, or similar legal
  process, or respond to a government request. Company’s use of any
  information collected through your use of the App shall be in accordance
  with our Privacy Policy at [www.hollerback.co/privacy].   

  You may opt-out of providing information to Company at anytime by
  uninstalling the App using the standard uninstall processes available on
  your mobile device or via the applicable mobile App marketplace or
  store. 

  The App is not directed to those under the age of 13. If a parent or
  guardian becomes aware that his or her child has provided us with
  information without their consent, he or she should contact us at
  [support@hollerback.co]. We will delete such information from our files
  within a reasonable time.

  Company takes commercially reasonable steps to help protect your
  information against loss, misuse and unauthorized access, or disclosure.
  However, you agree that by using the App, you are choosing to transmit
  text and/or images via the App.  You further agree that Company has no
  control over, and does not examine, review, access, record, or store,
  any communication transmitted by you, including any information
  transmitted by any of your friends or connections.  You agree to defend,
  indemnify, release, discharges and hold harmless Company, its officers,
  directors, employees, affiliates and suppliers from and against any and
  all claims and demands including but not limited to, any claims for
  copyright infringement, defamation, invasion of privacy or right of
  publicity, arising out of or in connection with your use of the App and
  your device to transmit such text and/or audio. Company expressly
  disclaimS any representation or warranty, whether express or implied,
  with respect to ensuring, guaranteeing or otherwise offering any
  definitive promise of security in connection with your PERSONAL
  Information. 

  By using the App, you are consenting to the use and processing of your
  information as set forth in these Terms, all of which activities will
  take place in the United States. If you reside outside the U.S. your
  information will be transferred to the U.S., and processed and stored
  there under U.S. privacy standards. 

  If you have any questions regarding privacy while using the App, or have
  questions about Company’s practices, please contact Company via email at
  [support@hollerback.co].
